<section class="about-us">
  <div class="container container-about-us">
    <div class="about-us-container">
      <h2 class="title-about-us">About us</h2>
      <h3 class="title-about-us-secondary">
        Our сraftsmanship: сreating unique handmade furniture
      </h3>
      <p class="taxt-about-us">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <div class="about-us-results">
        <ul class="list-about-us">
          <li class="item-about-us">
            <h4 class="title-about-us-item">5+</h4>
            <p class="taxt-about-us-item">
              Years of experience creating handcrafted furniture
            </p>
          </li>
          <li class="item-about-us">
            <h4 class="title-about-us-item">100%</h4>
            <p class="taxt-about-us-item">
              Sustainably sourced materials used in all of our furniture
            </p>
          </li>
          <li class="item-about-us">
            <h4 class="title-about-us-item">500+</h4>
            <p class="taxt-about-us-item">
              Unique furniture designs crafted by our skilled artisans
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="img-about-us">
      <picture>
        <source
          srcset="
            ./img/about/about-sofa.jpg    1x,
            ./img/about/about-sofa-2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/about/about-sofa-tab.jpg    1x,
            ./img/about/about-sofa-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/about/about-sofa-mob.jpg    1x,
            ./img/about/about-sofa-mob-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./img/about/about-sofa-mob.jpg"
          alt="sofa"
          width="767px"
          height=""
        />
      </picture>
    </div>
  </div>
</section>
