<section class="about-us">
  <div class="container container-desktop">
    <div class="about-us-container">
      <h2 class="title-about-us" id="about-us">About us</h2>
      <p class="title-about-us-secondary">
        Our сraftsmanship: сreating unique handmade furniture
      </p>
      <p class="taxt-about-us">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <div class="about-us-results">
        <ul class="list-about-us">
          <li class="item-about-us">
            <h3 class="title-about-us-item" data-final-value="5" data-show-symbol="+">5+</h3>
            <p class="taxt-about-us-item">
              Years of experience creating handcrafted furniture
            </p>
          </li>
          <li class="item-about-us">
            <h3 class="title-about-us-item" data-final-value="100" data-step="10" data-is-percentage="true" data-show-symbol="%">100%</h3>
            <p class="taxt-about-us-item">
              Sustainably sourced materials used in all of our furniture
            </p>
          </li>
          <li class="item-about-us">
            <h3 class="title-about-us-item" data-final-value="500" data-step="100" data-show-symbol="+">500+</h3>
            <p class="taxt-about-us-item">
              Unique furniture designs crafted by our skilled artisans
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="img-about-us">
      <picture>
        <source
          srcset="
            ./img/about/about-sofa.jpg    1x,
            ./img/about/about-sofa-2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/about/about-sofa-tab.jpg    1x,
            ./img/about/about-sofa-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/about/about-sofa-mob.jpg    1x,
            ./img/about/about-sofa-mob-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img src="./img/about/about-sofa-mob.jpg" alt="sofa" width="704" />
      </picture>
    </div>
  </div>
</section>
