<section class="bestsellers">
  <div class="container">
    <h2 class="sell-head" id="bestsellers">Bestsellers</h2>

    <div class="content">
      <div class="img-title">
        <div class="sell-img">
          <picture>
            <source
              srcset="
                ./img/bestsellers/platform_desk_1x.jpg 1x,
                ./img/bestsellers/platform_desk_2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/bestsellers/platform_tab_1x.jpg 1x,
                ./img/bestsellers/platform_tab_2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/bestsellers/platform_mob_1x.jpg 1x,
                ./img/bestsellers/platform_mob_2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/bestsellers/platform_mob_1x.jpg"
              alt="The modern platform bed"
              width="704"
            />
          </picture>
        </div>
        <h3 class="sell-item-head">The modern platform bed</h3>
        <p class="sell-item-text">750&#36;</p>
      </div>
      <ul class="sell-list">
        <li class="sell-item">
          <div class="sell-img">
            <picture>
              <source
                srcset="
                  ./img/bestsellers/lounge_desk_1x.jpg 1x,
                  ./img/bestsellers/lounge_desk_2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/bestsellers/lounge_tab_1x.jpg 1x,
                  ./img/bestsellers/lounge_tab_2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/bestsellers/lounge_mob_1x.jpg 1x,
                  ./img/bestsellers/lounge_mob_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/bestsellers/lounge_mob_1x.jpg"
                alt="The Cozy Lounge Chair"
                width="704"
              />
            </picture>
          </div>
          <h3 class="sell-item-head">The Cozy Lounge Chair</h3>
          <p class="sell-item-text">230&#36;</p>
        </li>
        <li class="sell-item">
          <div class="sell-img">
            <picture>
              <source
                srcset="
                  ./img/bestsellers/industrial_desk_1x.jpg 1x,
                  ./img/bestsellers/industrial_desk_2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/bestsellers/industrial_tab_1x.jpg 1x,
                  ./img/bestsellers/industrial_tab_2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/bestsellers/industrial_mob_1x.jpg 1x,
                  ./img/bestsellers/industrial_mob_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/bestsellers/industrial_mob_1x.jpg"
                alt="The industrial accent chair"
                width="704"
              />
            </picture>
          </div>
          <h3 class="sell-item-head">The industrial accent chair</h3>
          <p class="sell-item-text">250&#36;</p>
        </li>
        <li class="sell-item non-mobile-img">
          <div class="sell-img">
            <picture>
              <source
                srcset="
                  ./img/bestsellers/sleek_stand_desk_1x.jpg 1x,
                  ./img/bestsellers/sleek_stand_desk_2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/bestsellers/sleek_stand_tab_1x.jpg 1x,
                  ./img/bestsellers/sleek_stand_tab_2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./img/bestsellers/sleek_stand_tab_1x.jpg"
                alt="The sleek stand"
                width="704"
              />
            </picture>
          </div>
          <h3 class="sell-item-head">The sleek stand</h3>
          <p class="sell-item-text">300&#36;</p>
        </li>
        <li class="sell-item non-mobile-img">
          <div class="sell-img">
            <picture>
              <source
                srcset="
                  ./img/bestsellers/sofa_desk_1x.jpg 1x,
                  ./img/bestsellers/sofa_desk_2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/bestsellers/sofa_tab_1x.jpg 1x,
                  ./img/bestsellers/sofa_tab_2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./img/bestsellers/sofa_tab_1x.jpg"
                alt="The minimalist sofa"
                width="704"
              />
            </picture>
          </div>
          <h3 class="sell-item-head">The minimalist sofa</h3>
          <p class="sell-item-text">650&#36;</p>
        </li>
      </ul>
    </div>
  </div>
</section>
