<section class="reviews">
  <div class="container container-reviews">
    <h2 class="reviews-title" id="reviews">Clients reviews</h2>
    <ul class="review-list list">
      <li class="review-item">
        <picture>
          <source
            srcset="
              ./img/reviews/review-alexandra-mob.png    1x,
              ./img/reviews/review-alexandra-mob-2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <source
            srcset="
              ./img/reviews/review-alexandra.png    1x,
              ./img/reviews/review-alexandra-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/reviews/review-alexandra.png"
            width="56"
            alt="Alexandra Dream"
            class="review-img"
          />
        </picture>
        <div class="review-head">
          <h3 class="review-name">Alexandra Dream</h3>
          <span class="review-date">1 week ago</span>
        </div>
        <p class="review-text">
          I was blown away by the quality and craftsmanship of the furniture I
          received from this company. Each piece was unique and beautifully
          designed, and you can tell that a lot of thought and care goes into
          every detail.
        </p>
      </li>
      <li class="review-item-tablet">
        <img
          src="./img/reviews/review-james.png"
          srcset="
            ./img/reviews/review-james.png    1x,
            ./img/reviews/review-james-2x.png 2x
          "
          width="56"
          alt="James Williams"
          class="review-img"
        />
        <div class="review-head">
        <h3 class="review-name">James Williams</h3>
        <span class="review-date">A week ago</span>
        </div>
        <p class="review-text">
          The "Minimal" furniture set is a fantastic addition to my home. It
          boasts a minimalist design, enhancing the feel and look of my living
          space. The sturdy construction is worth noting too, which speaks
          volumes about its durability.
        </p>
      </li>
      <li class="review-item-dekstop">
        <img
          src="./img/reviews/review-emily.png"
          srcset="
            ./img/reviews/review-emily.png    1x,
            ./img/reviews/review-emily-2x.png 2x
          "
          alt="Emily Watson"
          width="56"
          class="review-img"
        />
        <div class="review-head">
        <h3 class="review-name">Emily Watson</h3>
        <h4 class="review-date">3 week ago</h4>
        </div>
        <p class="review-text">
          The "Minimal" furniture set has far exceeded my expectations. The
          sleek design combined with the high-quality materials have not only
          added an exceptional aesthetic to my space but also offered an
          uncompromising standard of comfort.
        </p>
      </li>
    </ul>
  </div>
</section>
