<section class="footer">
  <div class="container">
    <div class="logo-icons-footer">
    <nav class="nav-logo-footer">
      <a href="">
        <svg class="logo-footer">
          <use href="../img/svg-icon.svg#icon-logo"></use>
        </svg>
      </a>
    </nav>
    <ul class="list-icons-footer">
      <li>
        <a href="">
          <svg class="icons-footer">
            <use href="../img/svg-icon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="icons-footer">
            <use href="../img/svg-icon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg class="icons-footer">
            <use href="../img/svg-icon.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    </div>
    <nav>
      <ul class="">
        <li class="">
          <a href="" class=""></a>
        </li>
        <li class="">
          <a href="" class=""></a>
        </li>
        <li class="">
          <a href="" class=""></a>
        </li>
        <li class="">
          <a href="" class=""></a>
        </li>
        <li class="">
          <a href="" class=""></a>
        </li>
      </ul>
    </nav>
    
    <address>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
    </address>
    <p>
      <a href=""></a>
      <a href=""></a>
    </p>
  </div>
</section>
