<section class="footer">
  <div class="container">
    <nav>
      <a href=""></a>
      <ul class="">
        <li class="">
          <a href="" class=""></a>
        </li>
        <li class="">
          <a href="" class=""></a>
        </li>
        <li class="">
          <a href="" class=""></a>
        </li>
        <li class="">
          <a href="" class=""></a>
        </li>
        <li class="">
          <a href="" class=""></a>
        </li>
      </ul>
    </nav>
    <ul>
      <li>
        <a href="">
          <svg>
            <use></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg>
            <use></use>
          </svg>
        </a>
      </li>
      <li>
        <a href=""
          ><svg>
            <use></use>
          </svg>
        </a>
      </li>
    </ul>
    <address>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
      <a href=""></a>
    </address>
    <p>
      <a href=""></a>
      <a href=""></a>
    </p>
  </div>
</section>
