<header class="header">
  <div class="menu-con">
    <div class="container">
      <div class="header-div size">
        <a href="./index.html">
          <svg class="icon-logo" width="127" height="16">
            <use href="./img/svg-icon.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="menu-heder container-menu-h">
          <li class="menu-li"><a class="menu-a" href="#about-us">About us</a></li>
          <li class="menu-li">
            <a class="menu-a" href="#our-products">Our products</a>
          </li>
          <li class="menu-li"><a class="menu-a" href="#price">Prices</a></li>
          <li class="menu-li">
            <a class="menu-a" href="#bestsellers">Bestsellers</a>
          </li>
          <li class="menu-li"><a class="menu-a" href="#reviews">Reviews</a></li>
          <li class="menu-li"><a class="menu-a" href="#contacts">Contacts</a></li>
        </ul>
        <button type="button" class="btn-burger" data-menu-toggle>
          <span class="icon-burger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="menu is-hidden" data-menu>
    <ul class="menu-ul container-menu">
      <li class="menu-li"><a class="menu-a" href="#about-us">About us</a></li>
      <li class="menu-li">
        <a class="menu-a" href="#our-products">Our products</a>
      </li>
      <li class="menu-li"><a class="menu-a" href="#price">Prices</a></li>
      <li class="menu-li">
        <a class="menu-a" href="#bestsellers">Bestsellers</a>
      </li>
      <li class="menu-li"><a class="menu-a" href="#reviews">Reviews</a></li>
      <li class="menu-li"><a class="menu-a" href="#contacts">Contacts</a></li>
    </ul>
  </div>
</header>