<header class="header">
  <div class="container">
    <nav class="">
      <a href="" class=""></a>
      <ul class="">
        <li class="">
          <a href="" class=""></a>
        </li>
        <li class="">
          <a href="" class=""></a>
        </li>
        <li class="">
          <a href="" class=""></a>
        </li>
        <li class="">
          <a href="" class=""></a>
        </li>
        <li class="">
          <a href="" class=""></a>
        </li>
        <li class="">
          <a href="" class=""></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
