<section class="our-products">
  <div class="container container-our-products container-pro-desktop">
    <div class="container-pro">
      <h2 class="products-title" id="our-products">Our products</h2>
      <ul class="product-list">
        <li class="products-item">
          <picture>
            <source
              srcset="
                ./img/products/products-storage.jpg    1x,
                ./img/products/products-storage-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/products/products-left-tab.jpg    1x,
                ./img/products/products-left-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/products/products-mob.jpg    1x,
                ./img/products/products-mob-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="products-img"
              src="./img/products/products-storage.jpg"
              alt="storage"
              width="344"
            />
          </picture>
          <h3 class="products-subtitle">Minimalist storage solutions</h3>
        </li>
        <li class="products-item item-tab">
          <picture>
            <source
              srcset="
                ./img/products/products-sofa.jpg    1x,
                ./img/products/products-sofa-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/products/products-right-tab.jpg    1x,
                ./img/products/products-right-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="products-img"
              src="./img/products/products-sofa.jpg"
              alt="sofa"
              width="344"
            />
          </picture>
          <h3 class="products-subtitle">Handcraft minimalist seating</h3>
        </li>
        <li class="products-item item-desk">
          <picture>
            <source
              srcset="
                ./img/products/products-table.jpg    1x,
                ./img/products/products-table-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              class="products-img"
              src="./img/products/products-table.jpg"
              alt="table"
              width="344"
            />
          </picture>
          <h3 class="products-subtitle">Sleek and simple tables</h3>
        </li>
        <li class="products-item item-desk">
          <picture>
            <source
              srcset="
                ./img/products/products-chair.jpg    1x,
                ./img/products/products-chair-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              class="products-img"
              src="./img/products/products-chair.jpg"
              alt="chair"
              width="344"
            />
          </picture>
          <h3 class="products-subtitle">Minimalist seating for every place</h3>
        </li>
      </ul>
    </div>
  </div>
</section>
