<section class="price" id="price">
  <div class="container price-content">
    <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price.</h2>
    <ul class="price-list">
      <li class="price-item">
        <div class="item-content">
          <h3 class="price-subtitle">Chairs</h3>
          <p class="price-value">from 200&#36;</p>
        </div>
      </li>
      <li class="price-item">
        <div class="item-content">
          <h3 class="price-subtitle">Tables</h3>

          <p class="price-value">from 250&#36;</p>

        </div>
      </li>
      <li class="price-item">
        <div class="item-content">
          <h3 class="price-subtitle">Dressers</h3>
          <p class="price-value">from 300&#36;</p>

        </div>
      </li>
      <li class="price-item item-last">
        <div class="item-content">
          <h3 class="price-subtitle">Sofas</h3>
          <p class="price-value">from 500&#36;</p>

        </div>
      </li>
    </ul>
  </div>
</section>
