.reviews {
  padding-top: 36px;
  padding-bottom: 36px;
}
.container {
  max-width: 375px;
  background-color: var(--light-blue-color);
  padding-right: 16px;
  padding-left: 16px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 375px;
  }
}
.review-list {
  display: flex;
  justify-content: center;
}
.reviews-title {
  color: var(--brand-dark-blue-color);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  padding-top: 36px;
  margin-bottom: 30px;
}
.review-item {
  border-radius: 8px;
  background: var(--white-color);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.review-img {
  margin-top: 24px;
  margin-left: 24px;
}
.review-head {
  margin-top: 24px;
  margin-left: 14px;
}
.review-name {
  color: var(--brand-dark-blue-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7;
  text-transform: uppercase;
  
}
.review-date {
  color: var(--brand-dark-blue-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.review-text {
  color: var(--brand-dark-blue-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin: 24px;
}
.review-item-tablet,
.review-item-dekstop {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .review-list {
    display: flex;
    justify-content: center;
  }
  .review-item {
    margin-right: 16px;
  }
  .review-item,
  .review-item-tablet {
    display: flex;
    border-radius: 8px;
    background: var(--white-color);
    flex-wrap: wrap;
    width: 100%;
  }
  .review-img {
    width: 56px;
    height: 56px;
  }
  .review-head {
    margin-top: 16px;
    margin-left: 14px;
  }
  .review-name {
    font-size: 20px;
    line-height: 2.25;
  }
  .review-date {
    font-size: 16px;
    line-height: 1.5;
  }
  .review-item-dekstop {
    display: none;
  }
  .reviews-title {
    font-size: 32px;
    line-height: 1.4;
  }
  .review-text {
    font-size: 18px;
    line-height: 1.5;
    margin: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-right: 60px;
    padding-left: 60px;
  }
  .review-item {
    margin-right: 24px;
  }
  .review-item-dekstop {
    display: flex;
    border-radius: 8px;
    background: var(--white-color);
    flex-wrap: wrap;
    width: 100%;
    margin-left: 24px;
  }

  .reviews-title {
    padding-top: 60px;
  }

  .reviews-title {
    font-size: 32px;
    line-height: 1.4;
  }
  .review-name {
    font-size: 20px;
    line-height: 2.25;
  }
  .review-date {
    font-size: 16px;
    line-height: 1.5;
  }
  .review-text {
    font-size: 18px;
    line-height: 1.5;
    margin: 16px 32px 32px 32px;
  }
}
