.footer {
  padding-top: 36px;
  padding-bottom: 16px;
  background-color: var(--brand-dark-blue-color);
}
.nav-icons-footer {
  display: flex;
}

.nav-footer > a:hover .logo-footer,
.nav-footer > a:hover .logo-footer {
  fill: var(--light-gray-color);
}

.link-logo-footer{
  display: flex;
  padding-top: 6px;
}

.logo-footer {
  fill: var(--white-color);
  width: 100px;
  height: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-icons-footer {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.link-icons-footer:hover .icons-footer,
.link-icons-footer:focus .icons-footer {
  fill: var(--light-gray-color);
}

.icons-footer {
  fill: var(--white-color);
  width: 28px;
  height: 28px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-navigation-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 36px;
}

.navigation-footer {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-footer:hover,
.navigation-footer:focus {
  color: var(--light-gray-color);
}

.other-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.address-footer {
  margin-top: 36px;
}

.link-address-footer {
  color: var(--white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address-footer:hover,
.link-address-footer:focus {
  color: var(--light-gray-color);
}

.tel-footer {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mail-footer {
  display: none;
  pointer-events: none;
  cursor: default;
  position: absolute;
}

.text-footer {
  opacity: 0.6;
  color: var(--white-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 64px;
}

.link-text-footer {
  text-decoration-line: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-text-footer:hover,
.link-text-footer:focus {
  color: var(--light-gray-color);
}

@media (min-width: 768px) {
  .footer {
    position: relative;
    padding-bottom: 36px;
  }

  .nav-footer {
    display: flex;
    width: 100%;
  }

  .link-logo-footer{
    padding-top: 12px;
  }

  .logo-footer {
    width: 127px;
    margin-left: -6px;
  }

  .navigation-footer {
    font-size: 18px;
  }

  .list-navigation-footer {
    padding: 8px;
    margin-top: 0;
    margin-right: 64px;
    margin-left: auto;
    gap: 16px;
  }

  .icons-footer {
    width: 40px;
    height: 40px;
  }

  .address-footer {
    margin: 0;
    position: absolute;
    top: 96px;
  }

  .other-footer {
    gap: 24px;
  }

  .tel-footer {
    margin-top: 64px;
    gap: 24px;
  }

  .link-address-footer {
    font-size: 19px;
  }

  .mail-footer {
    display: block;
    pointer-events: auto;
    cursor: auto;
    position: static;
  }

  .text-footer {
    margin-top: 163px;
    font-size: 16px;
    line-height: 1.25;
  }
}

@media (min-width: 1440px) {
  .nav-icons-footer {
    width: 100%;
  }

  .nav-footer {
    align-items: center;
    min-width: 854px;
    justify-content: space-between;
  }

  .link-logo-footer{
    padding: 0;
  }

  .logo-footer {
    margin: 0;
    width: 120px;
  }

  .list-navigation-footer {
    flex-direction: row;
    gap: 30px;
    margin: 0;
    width: 518px;
  }

  .list-icons-footer {
    gap: 30px;
    margin: 0;
    justify-content: end;
    width: 100%;
  }

  .address-footer {
    position: static;
    margin-top: 24px;
    display: flex;
  }

  .tel-footer {
    position: relative;
    margin-top: 0;
    margin-left: 87px;
  }

  .mail-footer {
    position: absolute;
    left: 224px;
  }

  .text-footer {
    margin-top: 35px;
  }
}
