.no-scroll {
  overflow: hidden;
}
.header {
  background-color: #f7faff;
  padding-top: 28px;
  padding-bottom: 28px;
}
.header-div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.icon,
.icon-logo {
  fill: #0a224a;
}
.icon-logo {
  width: 100px;
  height: 16px;
}

.burger {
  cursor: pointer;
}
.menu {
  padding-top: 114px;
  z-index: 5;
  background-color: var(--white-color);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 88px;
  left: 0;
  overflow-y: auto;
}
.btn-burger {
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-toggle {
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
  max-width: 100%;
}
.menu-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.menu-a {
  color: var(--brand-dark-blue-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.menu-a:is(:hover, :focus) {
  color: #061835;
}
.is-hidden {
  display: none;
}
.slide-out-right {
  animation: slide-out-right 600ms cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse
    forwards;
}
@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 27px;
  }

  .icon-logo {
    width: 127px;
    padding: 0;
    margin: 0;
  }
  .menu-toggle {
    width: 40px;
    height: 40px;
  }
  .menu-a {
    font-size: 18px;
  }
  .menu-ul {
    gap: 30px;
  }
  .menu {
    padding-top: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .icon,
  .menu {
    display: none;
  }
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .menu-heder {
    display: flex;
    margin-left: auto;
    gap: 30px;
    padding: 8px;
  }
}
@media screen and (min-width: 0px) and (max-width: 1439px) {
  .menu-heder,
  .container-menu-h {
    display: none;
  }
}
