.h1-hero {
  color: var(--brand-dark-blue-color);
  font-family: Playfair Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  text-transform: uppercase;
  width: 285px;
  margin-bottom: 14px;
}
.hero-buttom:is(:hover, :focus) {
  background-color: #061835;
}
.p-hero {
  margin-bottom: 28px;
  color: var(--brand-dark-blue-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  width: 343px;
}
.background-image {
  height: 717px;
}
.hero-buttom {
  background-color: var(--brand-dark-blue-color);
  color: #fff;
  width: 224px;
  padding: 12px 65px;
}

.hero {
  padding-top: 140px;
  max-width: 470px;
  padding-left: 16px;
  background-image: url(../img/hero/hero_mob.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  /* height: 714px; */
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/hero/hero-mob-2x.jpg);
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .img_left,
  .img_right {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 61px;
    max-width: 768px;
    background-image: none;
  }
  .img_one {
    padding-top: 275px;
  }
  .background-image {
    background-image: url('../img/hero/hero_left_tab.jpg'),
      url('../img/hero/hero_right_tab.jpg');
    background-size: 43%, 53%;
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    height: 531px;
    width: 100%;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .background-image {
      background-image: url('../img/hero/hero-left-tab-2x.jpg'),
        url('../img/hero/hero-right-tab-2x.jpg');
    }
  }
  .img_right {
    padding-top: 61px;
    display: flex;
  }
  .hero-container {
  }

  .h1-hero {
    color: var(--blue-font, #0a224a);
    font-family: Playfair Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    text-transform: uppercase;

    width: 648px;
  }
  .p-hero {
    width: 312px;
    color: var(--brand-dark-blue-color);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
  }
  .p-hero,
  .hero-buttom {
    margin-top: 410px;
  }
}
@media screen and (min-width: 1440px) {
  .background-image {
    background-image: url('../img/hero/hero_left.jpg'),
      url('../img/hero/hero_central.jpg');
    background-size: 32%, 65%;
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;

    max-width: 986px;
  }
  .size {
    max-width: 1440px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .background-image {
      background-image: url('../img/hero/hero-left-2x.jpg'),
        url('../img/hero/hero-central-2x.jpg');
    }
  }

  .hero-text {
    padding-top: 415px;
    background-image: url('../img/hero/hero_right.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    width: 312px;
    height: 337px;
    left: 1006px;
    top: 7px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero-text {
      background-image: url('../img/hero/hero-right-2x.jpg');
    }
  }
  .p-hero {
    margin: 0;
    margin-bottom: 30px;
  }
  .hero {
    max-width: 100%;
  }
  .hero-container {
    position: absolute;
  }
}
