.price {
  padding-top: 64px;
  padding-bottom: 64px;
}
.price-list {
  list-style-type: none;
  padding: 0;
}

.price-item {
  position: relative;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--brand-dark-blue-color);
}

.item-last {
  border-bottom: 1px solid var(--brand-dark-blue-color);
}

.item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 30px 0;
}

.price-subtitle {
  color: var(--brand-dark-blue-color);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  transition: transform 0.3s ease-in-out, padding-left 0.3s ease-in-out;
  position: relative;
  transform-origin: left;
}

.price-subtitle::before {
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: var(--brand-dark-blue-color);
  top: 50%;
  left: 0;
  transform: translateY(-50%) scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
}

.price-item:hover .price-subtitle {
  padding-left: 35px;
}

.price-item:hover .price-subtitle::before {
  transform: translateY(-50%) scaleX(1);
}

.price-value {
  color: var(--brand-dark-blue-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.long-line {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: var(--brand-dark-blue-color);
}

.price-item:hover .long-line {
  transform: translateX(-20px);
  width: calc(100% + 20px);
}

/* Media Queries */

@media screen and (min-width: 375px) {
  .price {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .price-item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .price {
    padding-top: 0;
    padding-bottom: 100px;
  }
  .price-item {
    width: 100%;
  }

  .price-subtitle {
    font-size: 32px;
    line-height: 1.4;
  }

  .price-value {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .price-content {
    max-width: 1216px;
  }
  .price-item {
    width: 100%;
  }

  .price-subtitle {
    font-size: 32px;
    line-height: 1.4;
  }

  .price-value {
    font-size: 18px;
  }
}
